{
  "extends": "airbnb-base",
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": 0,
    "comma-dangle": [2, "never"],
    "indent": ["error", 4, {
      "SwitchCase": 1
    }]
  }
}